[*.cs]

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = silent

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = silent
